.score-structural {
	.make-row();
	&.score-column {
        & > .score-center {
            .make-md-column(12);
        }
    }
	&.score-column2-equal {
		& > .score-left {
			.make-md-column(6);
		}
		& > .score-right {
			.make-md-column(6);
		}
	}
	&.score-column2-wideleft {
		& > .score-left {
			.make-md-column(8);
		}
		& > .score-right {
			.make-md-column(4);
		}
	}
	&.score-column2-wideright {
		& > .score-left {
			.make-md-column(4);
		}
		& > .score-right {
			.make-md-column(8);
		}
	}
	&.score-column3-equal {
		& > .score-left {
			.make-md-column(4);
		}
		& > .score-center {
			.make-md-column(4);
		}
		& > .score-right {
			.make-md-column(4);
		}
	}
	&.score-column3-widemiddle {
		& > .score-left {
			.make-md-column(2);
		}
		& > .score-center {
			.make-md-column(8);
		}
		& > .score-right {
			.make-md-column(2);
		}
	}
	&.score-column4-equal {
		& > .score-left {
			.make-md-column(3);
		}
		& > .score-center {
			.make-md-column(3);
		}
		& > .score-center2 {
			.make-md-column(3);
		}
		& > .score-right {
			.make-md-column(3);
		}
	}
}