.page-wrapper {
  width: 100%;
}
.score-stripe {
  width: 100%;
}
.score-container {
  &.full-width {
    .container {
      width: 100%;
      padding: 0;
    }
  }
}
.yamm {
  // reset positions
  .nav, .collapse, .dropup, .dropdown {
    position: static;
  }

  // propagate menu position under container for fw navbars
  .container {
    position: relative;
  }

  // by default aligns menu to left
  .dropdown-menu {
    left: auto;
  }

  // Content with padding
  .yamm-content, .score-megamenu-content {
    clear: both;
    padding: 20px 30px;
  }
}
ul {
    &.level-1 {
        margin-left: 0;
    }
    &.level-2, &.level-3, &.level-4, &.level-5, &.level-6 {
        margin-left: 20px;
    }
}